{% extends 'base.html.twig' %}

{% block title %}Oaspeti{% endblock %}

{% block body %}
    <br><br>

    <div style=" padding-left: 3%; padding-right:3%; ">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenume</th>
                <th>Nume</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Actiuni</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.Id }}</td>
                <td>{{ customer.FirstName }}</td>
                <td>{{ customer.LastName }}</td>
                <td>{{ customer.Phone }}</td>
                <td>{{ customer.Address }}</td>
                <td>
                    <a href="{{ path('customer_show', {'Id': customer.Id}) }}">Detalii</a>
                    <a href="{{ path('customer_edit', {'Id': customer.Id}) }}">Editare</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8"><h3>Niciun rezultat</h3></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <center><a href="{{ path('customer_new') }}"><h4>Oaspete nou</h4></a>
    </div>
{% endblock %}
