{{ form_start(form) }}
    <center>
    <table><h3>
    <tr>
        <td><br>Nume:   <td><br>{{ form_widget(form.LastName) }} 
    <tr>
        <td><br>Prenume:   <td><br>{{ form_widget(form.FirstName) }} 
    <tr>
        <td><br>Telefon:   <td><br>{{ form_widget(form.Phone) }} 
    <tr>
        <td><br>Email:   <td><br>{{ form_widget(form.Email) }}
    <tr>
        <td><br>Venire:   <td><br>{{ form_widget(form.StartDate) }} 
    <tr>
        <td><br>Plecare:   <td><br>{{ form_widget(form.EndDate) }}
    <tr>
        <td><br>Numar oaspeti:   <td><br>{{ form_widget(form.Guests) }} 
    </h3></table>
    <br>
    <button class="btn">{{ button_label|default('Trimitere') }}</button>
{{ form_end(form) }}
